@import "url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100";

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  /* margin: 5%; */
}

body {
  color: #333;
  font-family: 'Noto Sans TC',
    sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #0d0e10;
  font-size: 48px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -0.02em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #0d0e10;
  text-align: left;
  align-self: flex-start;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
}

h3 {
  z-index: 5;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  align-self: flex-start;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
}

h4 {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #0d0e10;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.025em;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3f4451;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-bottom: 10px;
  color: #3f4451;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

a {
  color: #0d0e10;
  text-decoration: underline;
  font-weight: 700;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  line-height: 32px;
}

li {
  margin-bottom: 10px;
}

.top-button {
  z-index: 10;
  position: -webkit-sticky;
  top: 90%;
  margin-left: 90%;
}

.back-top {
  /* padding-right: 10px; */
  color: #0d0e10;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 300ms ease;
}

.nav-link {
  padding-right: 30px;
  /* padding-left: 30px; */
  color: #0d0e10;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  width: 50%;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  width: 50%;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.navigation-content {
  display: contents;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  margin-right: 40px;
  padding-left: 0px;
  color: #0d0e10;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  -ms-flex-align: center;
  letter-spacing: -0.03em;
}

.brand.w--current {
  margin-right: 0px;
  padding-left: 0px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  min-height: 128px;
  max-width: 1060px;
  margin: auto;
  object-position: center;
  padding: 28px 4%;
  background-color: transparent;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.navigation-icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 64px;
  height: 64px;
  margin-right: 24px;
  overflow: hidden;
  background-image: url("https://uploads-ssl.webflow.com/5ff8d7271cf9a08588de0c34/5ff8d728297eed7559a6fa0f_Navigation%20Circle.svg");
  background-position: 0px 0px;
  background-size: auto;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.header {
  padding: 100px 3%;
}

.header-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.hero-display {
  max-width: 900px;
  margin-bottom: 48px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #1c212b;
  font-size: 68px;
  line-height: 1.05;
  text-align: left;
}

/* .header-hi{ max-width: 900px; margin-right: auto; margin-left: 2%; } */
.paragraph-display {
  position: static;
  max-width: 540px;
  margin-bottom: 48px;
  align-self: flex-start;
  color: #0d0e10;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  text-align: left;
}

.button {
  display: flex;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  max-width: 200px;
  padding: 16px 40px;
  align-items: center;
  -webkit-align-self: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-start;
  border-radius: 40px;
  background-color: rgb(32, 32, 47);
  color: rgb(251, 251, 251);
  font-size: 15px;
}

.accent-line {
  padding-right: 7px;
  padding-left: 7px;
  background-image: url("https://uploads-ssl.webflow.com/5ff8d7271cf9a08588de0c34/5ff8d728297eed8a3da6fa55_Result%20Line.svg");
  background-repeat: no-repeat;
  background-position: 50% 110%;
  background-size: 270px 30%;
}

.container {
  z-index: 9;
  position: relative;
  width: 100%;
  max-width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

.title-wrap {
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  text-align: center;
}

.title-wrap.title-space {
  margin-bottom: 72px;
}

.grid {
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 40px;
}

.accent {
  position: relative;
  top: -11px;
  left: -4px;
  max-width: 100%;
  float: none;
  overflow: visible;
}

.grid-cover {
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.style-guide-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  min-height: 650px;
  padding: 100px 5%;
  background-color: #0d0e10;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.container-tight {
  width: 100%;
  max-width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

.colour-title {
  float: left;
  color: #22262f;
  font-size: 16px;
  font-weight: 700;
}

.colour-hex {
  margin-top: 4px;
  color: #9ea4b2;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.title-grey {
  color: #3f4451;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.paragraph-large {
  max-width: 1060px;
  margin-bottom: 100px;
  color: #3f4451;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.heading-large {
  color: #22262f;
  font-size: 18px;
  font-weight: 700;
}

.component-detail {
  margin-left: 8px;
  color: #99c9cd;
}

.heading-default {
  color: #22262f;
  font-size: 18px;
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.block-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #22262f;
  border-bottom: 1px solid #e7e8f3;
  -webkit-align-items: center;
  align-items: center;
  font-size: 16px;
  -ms-flex-align: center;
}

.content-container {
  width: 100%;
  max-width: 900px;
  margin: 45px auto 80px;
}

.block {
  margin-bottom: 45px;
}

.mark {
  background-color: rgba(1, 188, 154, 0.1);
}

.paragraph-small {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

.em {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.delete {
  text-decoration: line-through;
}

.display-heading {
  margin-bottom: 20px;
  color: #0d0e10;
  font-size: 66px;
  line-height: 1;
}

.content-section {
  position: relative;
  padding: 100px 0%;
}

.service-grid {
  grid-column-gap: 70px;
  grid-row-gap: 70px;
}

.service-card {
  padding: 48px 32px;
  background-color: #fff;
  box-shadow: 52px 52px 94px 0 rgba(63, 68, 81, 0.02);
}

.service-icon {
  max-width: 64px;
  margin-bottom: 32px;
}

.service-section {
  padding-right: 3%;
  padding-left: 3%;
}

.title-left {
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  margin-bottom: 56px;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  margin-bottom: 32px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.emoji-icon {
  width: 36px;
  margin-left: 6px;
}

.resume-grid {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  grid-template-rows: auto auto;
}

.title-wrap-large {
  margin-bottom: 44px;
}

.item-wrap {
  width: 100%;
  margin-bottom: 48px;
  text-decoration: none;
}

.resume-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  margin-bottom: 16px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.resume-heading {
  margin-right: 6px;
  margin-bottom: 0px;
}

.resume-type {
  margin-bottom: 14px;
  color: #0d0e10;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.resume-grid-inner {}

.paragraph {
  margin-top: 24px;
  margin-bottom: 24px;
}

.container-large {
  position: relative;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.accent-business {
  background-image: url("https://uploads-ssl.webflow.com/5ff8d7271cf9a08588de0c34/5ff8d728297eed582ba6fa4f_Project%20Line.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
}

.faq-question-wrap {
  margin-bottom: 20px;
  cursor: pointer;
}

.faq-paragraph {
  margin-bottom: 0px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 14px;
}

.faq-content {
  overflow: hidden;
}

.faq-wrapper {
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
}

.faq-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 35px;
  height: 35px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.question-title {
  margin-right: 10px;
}

.faq-question-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #0d0e10;
  background-color: transparent;
  text-decoration: none;
  -webkit-align-items: center;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  line-height: 40px;
  letter-spacing: -0.03em;
}

.cta-block {
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
}

.footer-section {
  padding: 100px 3%;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  padding-top: 0px;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.circle-asset {
  position: absolute;
  top: auto;
  right: 0%;
  bottom: 0%;
  left: auto;
}

.circle-asset-left {
  position: absolute;
  top: -50%;
  right: auto;
  bottom: auto;
  left: 0%;
}

.social-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  margin-right: auto;
  padding-left: 0px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 10px;
  border-radius: 100px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-link:hover {
  background-color: #f4f6fb;
}

.project-square {
  height: 570px;
  overflow: hidden;
}

/* 專案區塊 */
.project-wrap {
  text-decoration: none;
}

/* 專案照片 */
.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project-wrap:hover .project-image {
  transform: scale(1.1, 1.1);
  transition: transform 500ms;
}

.project-detail-wrap {
  padding-top: 15px;
  padding-left: 50px;
}

.project {
  width: 100%;
  margin-bottom: 60px;
  padding-right: 0px;
  padding-left: 0px;
}

.project-overview {
  -webkit-box-align: baseline;
  align-items: baseline;
  grid-row-gap: 1px;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: auto;
}

.project-detail {
  display: block;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(62, 60, 69);
  font-size: 15px;
  line-height: 1.25em;
}

.collection-list {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.project-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
}

.grid-column-large {
  padding-top: 162px;
}

.large-image-wrap {
  z-index: 5;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.reviewSlider {
  height: auto;
  min-height: 570px;
  opacity: 0;
  background-color: transparent;
  transform: scale(1.2);
}

@media (prefers-reduced-motion : no-preference) {
  .reviewSlider {
    transition: opacity 1.5s ease,
      transform 1.5s ease;
  }
}

.reviewSlider-transition {
  opacity: 1;
  transform: none;
}

.review-slide {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  vertical-align: top;
  white-space: normal;
}

.testimonial-mask {
  overflow: visible;
}

.slider-arrow {
  display: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  top: auto;
  right: 5%;
  left: auto;
  width: 55px;
  height: 55px;
  padding: 8px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.review-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.review-grid {
  -webkit-box-align: center;
  height: 100%;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  grid-column-gap: 70px;
  grid-row-gap: 70px;
}

.slide-nav-2 {
  display: none;
}

.slider-arrow-left {
  display: none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  top: auto;
  right: 10%;
  left: auto;
  width: 55px;
  height: 55px;
  padding: 8px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.testimonial-image {
  z-index: 5;
  position: relative;
  width: 80%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

.bg-square-first {
  z-index: 4;
  position: absolute;
  top: 25px;
  left: -25px;
  width: 80%;
  height: 100%;
  color: #ecd9c7;
  background-color: #edf8ff;
}

.bg-square-second {
  z-index: 3;
  position: absolute;
  top: 60px;
  left: -60px;
  width: 80%;
  height: 100%;
  background-color: #f4faff;
}

.paragraph-2 {
  line-height: 1.9;
  letter-spacing: 0.02em;
  text-align: justify;
}

.heading-3 {
  margin-bottom: 32px;
}

.testimonial-name-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  margin-top: 40px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.testimonial-name {
  margin-right: 10px;
  margin-bottom: 0px;
}

.testimonial-title {
  color: #9ea4b2;
  font-weight: 500;
  letter-spacing: 1px;
}

.bg-square-full {
  z-index: -1;
  position: absolute;
  top: 0%;
  right: auto;
  bottom: 0%;
  left: auto;
  width: 80%;
  height: 100%;
  background-image: url("https://uploads-ssl.webflow.com/5ff8d7271cf9a08588de0c34/5ff8d728297eed8b57a6fa54_Shapes.svg");
  background-color: #f4f5fd;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}

.service-block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  padding-top: 64px;
  padding-bottom: 96px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.underline-span {
  text-decoration: underline;
  font-weight: 500;
}

.form-block {
  width: 100%;
  max-width: 620px;
}

.text-field {
  height: 72px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  color: #9ea4b2;
  border-color: #000 #000 #9ea4b2;
  border-width: 1px;
  border-style: none none solid;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.button-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  min-width: 260px;
  padding: 24px 55px;
  color: #fff;
  border-radius: 50px;
  background-color: #0d0e10;
  text-transform: uppercase;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 24px;
}

.button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin-top: 56px;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.bold-span {
  font-weight: 500;
}

.large-title {
  margin-bottom: 12px;
  padding-right: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.project-header {
  height: 720px;
  overflow: hidden;
}

.project-hero-image {
  width: 100%;
  height: 100%;
}

.project-content {
  display: block;
  max-width: 1060px;
  margin: 100px auto 40px;
}

.standard-header {
  padding: 60px 3% 100px;
}

.change-log-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  width: 100%;
  margin-bottom: 32px;
  background-color: transparent;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.change-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.new-tag {
  margin-right: 20px;
  margin-left: 4px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 8px;
  background-color: #0d0e10;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.list {
  margin-top: 15px;
  margin-bottom: 15px;
}

.title-wrap-left {
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  max-width: 720px;
  margin-bottom: 60px;
  text-align: left;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.licence-grid {
  margin-bottom: 100px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.feature-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  position: relative;
  min-height: 270px;
  padding: 32px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 31px 31px 64px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  text-decoration: none;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.licence-graphic {
  width: 100%;
  height: 160px;
  margin-bottom: 32px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f4f6fb;
}

.licence-asset {
  width: 100%;
  height: 100%;
}

.heading-4 {
  margin-bottom: 14px;
}

.licence-section {
  position: relative;
  padding: 100px 3%;
  background-color: #f4f6fb;
}

.directory-grid {
  margin-bottom: 100px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.directory-asset {
  width: 100%;
  height: 160px;
  margin-bottom: 32px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f4f6fb;
}

.hero-display-medium {
  max-width: 840px;
  margin-bottom: 20px;
  color: #0d0e10;
  font-size: 80px;
  line-height: 1.05;
}

.button-return {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin-top: 32px;
  padding: 24px 52px;
  color: #fff;
  border-radius: 50px;
  background-color: #0d0e10;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 500;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.avatar-404 {
  max-width: 60%;
  margin-bottom: 40px;
}

/* 草寫 */
.cursive-title {
  margin-bottom: 20px;
  color: #99c9cd;
  font-family: 'Reenie Beanie',
    sans-serif;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.1em;
}

.highlight-span {
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.highlight-span:hover {
  text-decoration: underline;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  position: static;
  width: 100%;
  opacity: 1;
  border-color: transparent;
  border-width: 0px;
  border-style: solid;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.legal-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.template-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 20px 3%;
  background-color: #f4f6fb;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.footer-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  color: #0d0e10;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  -ms-flex-align: center;
  letter-spacing: -0.03em;
}

.footer-brand.w--current {
  padding-left: 0px;
}

.footer-link {
  color: #3f4451;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.resume-section {
  position: relative;
  padding: 140px 3%;
  overflow: hidden;
}

.gallery-wrapper {
  margin-top: 160px;
  margin-bottom: 160px;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.style-guide-heading {
  margin-bottom: 10px;
}

.accent-brand {
  background-image: url("https://uploads-ssl.webflow.com/5ff8d7271cf9a08588de0c34/5ff8d728297eed2ceea6fa57_Brand%20Line.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
}

.accent-contact {
  padding-right: 8px;
  padding-left: 8px;
}

.gallery-grid-post {
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.accent-next {
  background-image: url("https://uploads-ssl.webflow.com/5ff8d7271cf9a08588de0c34/5ff8d728297eed6ce1a6fa5b_Next%20Line.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
}

.article h3 {
  margin-bottom: 32px;
}

.h3-title {
  margin-bottom: 32px;
}

.cta-text-wrapper {
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.about-section {
  position: relative;
  padding: 100px 3%;
  overflow: hidden;
}

.bg-dark-square-first {
  z-index: 4;
  position: absolute;
  top: 30px;
  left: -30px;
  width: 100%;
  height: 100%;
  background-color: #fef0e6;
}

.bg-dark-square-second {
  z-index: 3;
  position: absolute;
  top: 60px;
  left: -60px;
  width: 100%;
  height: 100%;
  background-color: #fff8f3;
}

.cta-link-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  margin-top: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f3ceb1;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
  -ms-flex-align: center;
  line-height: 1;
}

.arrow-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.arrow-blue {
  position: absolute;
  overflow: visible;
}

.hero-display-projects {
  max-width: 940px;
  margin-bottom: 48px;
  color: #0d0e10;
  font-size: 80px;
  line-height: 1.05;
}

.link {
  font-weight: 700;
}

.hero-display-libre {
  max-width: 900px;
  margin-bottom: 48px;
  -webkit-align-self: flex-start;
}

.heading-5 {
  width: auto;
  /* text-align: center; */
}

.cta-link-large-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f3ceb1;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  font-size: 48px;
  font-weight: 500;
  -ms-flex-align: center;
  line-height: 1;
}

.arrow-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.text-block {
  padding-right: 20px;
  padding-left: 10px;
}

.text-block-2 {
  padding-right: 10px;
  padding-left: 20px;
}

.large-title-copy {
  max-width: none;
  margin-bottom: 12px;
  color: #3f4451;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}

.collection-list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1060px;
  padding-left: 0px;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.cta-link-large-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  margin-top: -100px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f3ceb1;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  -ms-flex-align: center;
  line-height: 1;
}

.paragraph-large-copy {
  max-width: 1060px;
  margin-bottom: 40px;
  color: #3f4451;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.text-link {
  display: block;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #6e7688;
  font-size: 24px;
  line-height: 24px;
}

.text-link:hover {
  color: #0d0e10;
}

.paragraph-large-copy {
  max-width: 1060px;
  margin-bottom: 40px;
  color: #3f4451;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.project-content-copy {
  max-width: 1060px;
  margin: 40px auto 100px;
}

.columns {
  max-width: 260px;
}

.column {
  height: 40px;
  max-height: none;
  padding: 10px 0px;
}

.column-2 {
  height: 40px;
  padding: 14px 0px 10px;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {}

.gallery-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
}

.gallery-lightbox {
  position: relative;
  overflow: hidden;
}

.gallery-thumbnail {
  width: 100%;
  height: 100%;
}

.collection-item {
  margin-top: 100px;
  margin-bottom: 100px;
}

.image {
  margin-top: 0px;
  margin-bottom: 40px;
}

.image-2 {
  margin-bottom: 0px;
}

.image-3 {
  margin-bottom: 40px;
}

.image-4 {
  display: inline-block;
  margin-bottom: 40px;
}

.collection-item-2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.collection-list-2 {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.grid-2 {
  grid-template-areas: "Area";
}

.grid-3 {
  padding-bottom: 40px;
  grid-template-areas: "Area";
}

.collection-item-3 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.image-5 {
  margin-bottom: 40px;
}

@media screen and (max-width : 991px) {
  .nav-link {
    width: 100%;
    /* padding-top: 32px;
    padding-bottom: 32px; */
    /* padding-left: 45px; */
  }

  .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 65px;
    height: 65px;
    padding: 19px;
    color: #3f4451;
    background-image: url("https://uploads-ssl.webflow.com/5ff8d7271cf9a08588de0c34/5ff8d728297eed7559a6fa0f_Navigation%20Circle.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    -webkit-align-items: center;
    align-items: center;
    font-size: 26px;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .menu-button.w--open {
    color: #0d0e10;
    background-color: transparent;
  }

  .nav-menu {
    /* background-color: #ededed; */
  }

  .navigation-right {
    text-align: right;
    -webkit-box-align: center;
    width: auto;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    position: absolute;
    right: 0px;
  }

  .navigation-left {
    width: auto;
  }

  .navbar {
    background-color: hsla(0, 0%, 100%, 0);
  }

  .style-guide-hero {
    background-image: none;
    background-repeat: repeat;
    background-position: 0px 0px;
    background-size: auto;
  }

  .colour-grid {}

  .style-guide-header {
    min-height: 420px;
  }

  .service-grid {
    max-width: 380px;
  }

  .resume-grid {}

  .faq-question-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }

  .circle-asset {
    display: none;
  }

  .project-square {
    height: 420px;
  }

  .slider-arrow {
    bottom: auto;
  }

  .review-grid {
    grid-column-gap: 42px;
    grid-row-gap: 42px;
  }

  .slider-arrow-left {
    right: 12%;
    bottom: auto;
  }

  .title-wrap-left {
    text-align: left;
  }

  .feature-card {
    padding: 32px 16px;
  }

  .gallery-grid-container {
    -webkit-align-self: stretch;
  }
}

@media screen and (max-width : 767px) {
  .navigation-icon-wrap {
    margin-right: 14px;
  }

  .hero-display {
    font-size: 60px;
  }

  .client-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .grid {
    grid-row-gap: 32px;
  }

  .style-guide-hero {
    padding-bottom: 160px;
  }

  .colour {
    margin-bottom: 25px;
  }

  .social-grid {
    margin-bottom: 32px;
  }

  .project-square {
    height: 580px;
  }

  .project-grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .grid-column-large {
    padding-top: 0px;
  }

  .testimonial-mask {
    overflow: visible;
  }

  .testimonial-image {
    object-fit: cover;
    object-position: center;
    width: 80%;
    height: 350px;
  }

  .review-grid {
    grid-template-columns: auto;
  }

  .heading-5 {
    font-size: 35px;
    text-align: left;
  }

  .review-slide {
    align-items: center;
    /* width: 80%; */
    padding: 5%;
  }

  .slider-arrow-left {
    right: 15%;
  }

  .bg-square-first {
    display: none;
  }

  .bg-square-second {
    display: none;
  }

  .bg-square-full {
    width: 95%;
  }

  .project-content {
    display: block;
    margin-bottom: 60px;
  }

  .licence-grid {
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
  }

  .directory-grid {
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-display-medium {
    font-size: 72px;
  }

  .footer-link-wrap {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .gallery-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .bg-dark-square-first {
    display: none;
  }

  .bg-dark-square-second {
    display: none;
  }

  .hero-display-projects {
    font-size: 72px;
  }

  .hero-display-libre {
    font-size: 72px;
  }

  .project-content-copy {
    margin-bottom: 60px;
  }

  .gallery {
    padding: 40px 20px;
  }

  .gallery-grid-container {
    max-width: none;
  }
}

@media screen and (max-width : 479px) {
  h1 {
    font-size: 35px;
    text-align: left;
    line-height: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 18px;
  }

  .brand {
    margin-right: 0px;
  }

  .navbar {
    min-height: 80px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .navigation-icon-wrap {
    display: none;
  }

  .header {
    padding: 50px 4%;
  }

  .about-section {
    position: relative;
    padding: 0px 3%;
    overflow: hidden;
  }

  .heading-5 {
    font-size: 20px;
    text-align: left;
    line-height: normal;
  }

  .hero-display {
    font-size: 48px;
  }

  .button {
    padding-right: 40px;
  }

  .gallery-grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .grid {}

  .display-heading {
    font-size: 58px;
  }

  .content-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .resume-grid-inner {}

  .faq-question-wrap {
    padding-right: 0px;
    padding-left: 0px;
  }

  .question-title {}

  .footer-section {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .footer-wrap {
    padding-top: 40px;
  }

  .social-grid {}

  .project-square {
    height: 460px;
  }

  .large-image-wrap {
    height: auto;
  }

  .testimonial-mask {
    height: 100%;
  }

  .testimonial-image {
    object-fit: cover;
    object-position: center;
    width: 70%;
    height: 250px;
  }

  .review-wrapper {
    padding-right: 6px;
    padding-left: 6px;
  }

  .slider-arrow-left {
    right: 25%;
  }

  .project-header {
    height: 650px;
  }

  .change-log-wrap {
    padding: 20px;
  }

  .hero-display-medium {
    font-size: 50px;
  }

  .template-details {
    display: none;
  }

  .footer-brand {
    margin-right: 0px;
  }

  .gallery-grid-post {}

  .cta-text-wrapper {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .cta-link-large-2 {
    font-size: 35px;
    text-align: center;
  }

  .hero-display-projects {
    font-size: 45px;
  }

  .hero-display-libre {
    font-size: 48px;
  }

  .button-copy {
    padding-right: 40px;
  }

  .centered-container {
    text-align: left;
  }

  .gallery-grid-container {
    margin-right: 0px;
    margin-left: 0px;
  }

  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s ease-out both;
    animation: scale-up-center 0.4s ease-out both;
  }
}